# Files that might appear on external disks
.Spotlight-V100
.Trashes

# For IDEA
.idea/
*.iml

# OSX
.DS_Store
Desktop.ini

# Compiled Python files
*.pyc

# Windows
._*
Thumbs.db

# Sublime Text
*.sublime-project
*.sublime-workspace

# SASS
.sass-cache